/* float setting */
*{
  box-sizing: border-box;
}
.box-list{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.box-list li{
  float: left;
  border:1px solid #ddd;
  width: 32%;
  margin-bottom: 1%;
  margin-right: 1.25%;
}
ul li:last-child{
  margin-right: 0;
}
img{
  width: 80%
}
