table.onhyo {
  margin-left:auto;
  margin-right:auto;
}

td.cell {
  width: 50px;
  height: 50px;
  font-size: 64px;
  text-align: "." center;
  white-space: nowrap;
}

td.cell.record.active {
  background-color: #33FFFF;
}

td.cell.record.inactive {
  background-color: #666666;
}

td.cell.play.active {
  background-color: #7777ff;
}

td.cell.play.inactive {
  background-color: #00008B;
}

td.cell.play.playing {
  background-color: Yellow;
}

td.open {
  background-color: White;
}
